/*
	Autonomy by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body {
		margin: 0px;
		padding: 0px;
		background: #180E0B;
		font-family: 'Raleway', sans-serif;
		font-size: 11pt;
		color: #000000;
	}

	h1, h2, h3 {
		margin: 0px;
		padding: 0px;
	}

	h2 {
		padding: 0px 0px 20px 0px;
		letter-spacing: -1px;
		font-size: 1.8em;
	}

/*	p, ol, ul {
		margin-top: 0px;
		line-height: 160%;
	}

	p {
		margin-bottom: 2em;
		line-height: 160%;
	}
*/

	strong {
		font-weight: 700;
	}

	a {
		color: #A2A2A2;
	}

	a:hover {
		text-decoration: none;
	}

		/* Images */

			.image
			{
				display: inline-block;
			}
			
				.image img
				{
					display: block;
					width: 100%;
				}

				.image.featured
				{
					display: block;
					width: 100%;
					margin: 0 0 2em 0;
				}
				
				.image.full
				{
					display: block;
					width: 100%;
					margin-bottom: 2em;
				}
				
				.image.left
				{
					float: left;
					margin: 0 2em 2em 0;
				}
				
				.image.centered
				{
					display: block;
					margin: 0 0 2em 0;
				}

					.image.centered img
					{
						margin: 0 auto;
						width: auto;
					}

		header
		{
			margin-bottom: 1em;
		}
			
			header h2
			{
				font-weight: 600;
			}
		
			header .byline
			{
				display: block;
				margin: 0.5em 0 0 0;
				padding: 0 0 0.5em 0;
			}

		ul.style
		{
		}
		
		ul.style li
		{
			padding: 0.55em 0em;
		}
		
		ul.style li:first-child
		{
		}
		
		ul.style a
		{
			color: #774535 !important;
		}

		ul.style1
		{
		}
		
		ul.style1 li
		{
			padding: 0.55em 0em;
		}
		
		ul.style1 li:first-child
		{
		}
		
		ul.style1 a
		{
			color: #774535 !important;
		}

		ul.style1 img
		{
			float: left;
			margin-right: 1em;
		}
	
/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		position: relative;
	}

		#header .container
		{
			position: relative;
			padding: 1em 0em;
		}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		position: absolute;
		left: 0em;
		top: 2em;
	}
	
		#logo h1
		{
			color: #FFF;
		}
	
		#logo a
		{
			display: block;
			text-decoration: none;
			font-size: 2.8em;
			font-weight: 600;
			color: #FFF;
		}

/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

	#nav
	{
		position: absolute;
		right: 0em;
		top: 5em;
	}

		#nav > ul > li
		{
			float: left;
		}
		
			#nav > ul > li:last-child
			{
				padding-right: 0;
			}

			#nav > ul > li > a,
			#nav > ul > li > span
			{
				display: block;
				margin-left: 0.2em;
				padding: 0.80em 0.5em;
				letter-spacing: 0.06em;
				text-decoration: none;
				font-size: 1em;
				outline: 0;
				color: #FFF;
			}

			#nav li.active a
			{
				background: #56c9d6;
				border-radius: 5px;
				color: #FFF;
			}

			#nav > ul > li > ul
			{
				display: none;
			}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		position: relative;
		background: #333 url(../images/banner.jpg) no-repeat center;
		background-size: cover;
	}
	
	.homepage #banner
	{
	}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#main
	{
		position: relative;
		padding: 6em 0em;
		background: #F0FFFF;
		color: #774535;
	}
	
	#main header h2
	{
		color: #bc765f;
	}
	
	#main a
	{
		color: #bc765f;
	}

/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/

	#featured
	{
		position: relative;
		padding: 6em 0em 4em 0em;
		background: #FFF;
	}

/*********************************************************************************/
/* Marketing                                                                     */
/*********************************************************************************/

	#marketing
	{
		position: relative;
		padding: 6em 0em;
		background: #372019;
		color: #8c5240;
	}
	
	#marketing header h2
	{
		color: #c0745d;
	}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/
	
	#copyright
	{
		position: relative;
		padding: 0em 0em;
		text-align: center;
		color: #774535;
	}
	
	#copyright .container
	{
	   
	        margin-top: 20px;
	}
	
	#copyright a
	{
		text-decoration: none;
		color: #774535 !important;
	}		
	
/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/
	div.dhnLoi {
        background:#FF9933;       
        color: White;
        font-family: Tahoma,Arial,Helvetica,sans-serif;
        font-size: 16px;
        font-weight: bold;      
        padding: 5px 0;
       
        margin-bottom:5px;
    }
    	
    div.dhnLoi2 {
        background:#999999;       
        color: #ffffff;
        font-family: Tahoma,Arial,Helvetica,sans-serif;
        font-size: 16px;
        font-weight: bold;      
        padding: 5px 0;
       
        margin-bottom:5px;
    }
    
    
	div.title_page {
        border-bottom: 2px solid #663300;
        color: #bc765f;
        font-family: Tahoma,Arial,Helvetica,sans-serif;
        font-size: 16px;
        font-weight: bold;      
        padding: 5px 0;
        text-transform: uppercase;
        margin-bottom:5px;
    }
    
    
    
.button{
	background-color:#02579D;
	border: 1px #005534 solid;
	line-height: 20px;
	color: #FFF;
	font-weight: bold;
	padding: 0 10px 2px 10px;
	cursor: pointer;	
    font-size: 14px;
    font-family: "Times New Roman";
    margin-left:30px;
    }
    .button1 {
	background-color:#02579D;
	border: 1px #005534 solid;
	line-height: 20px;
	color: #FFF;
	font-weight: bold;
	padding: 0 10px 2px 10px;
	cursor: pointer;	
    font-size: 14px;
    font-family: "Times New Roman";
    }

.button:hover
{
    background: white;
    border: solid 1px grey;
    font-family: "Times New Roman";
    font-size: 14px;
    font-weight: bold;
    color: Red;   
    height: 25px;

}

.button1{
	background-color:#02579D;
	border: 1px #005534 solid;
	line-height: 20px;
	color: #FFF;
	font-weight: bold;
	padding: 0 10px 2px 10px;
	cursor: pointer;	
    font-size: 14px;
    font-family: "Times New Roman";
    margin-left: 20px;
}

.button1:hover
{
    background: white;
    border: solid 1px grey;
    font-family: "Times New Roman";
    font-size: 14px;
    font-weight: bold;
    color: Red;   
    height: 25px;

}

.date_time{
	float: right;
	margin-left: 5px;
    padding-top: 10px;
	background-color:#02579D;
	font:bold 13px Arial, Tahoma, verdana, sans-serif;
	color:#FFF;
	margin-right: 2px;
}
          .title_mobile
          {
        border-bottom: 2px solid #663300;
        color: #006600;
        font-family: Tahoma,Arial,Helvetica,sans-serif;
        font-size: 13px;
        font-weight: bold;
        margin: 0 10px;
        padding: 5px 0;
        text-transform: uppercase;
    }