<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PMACData.Properties.Settings.tanhoaConnectionString" connectionString="Data Source=DMA-PC;Initial Catalog=tanhoa;Persist Security Info=True;User ID=sa;Password=123@tanhoa" providerName="System.Data.SqlClient"/>
      <add name="Database1_beConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\inetpub\wwwroot\App_Data\Database1_be.accdb"
 providerName="System.Data.OleDb" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
